#card-container{
	border: 1px solid #ccc; overflow: auto;
	font-family: Impact;
}
.card{
	width: 340px;
	height: 188px;
	margin: 10px;
	background-color: #000;
	color: #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	position: relative;
}

.card-front #logo{margin: 10px; padding-top: 5px; font-size: +2em;}
.card-front #logo img{max-height: 50px;}

.card-front #shadow{
	background-color: #333;
	height: 70%; width: 100%;
	position: absolute;
	bottom: 0;

	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.card-front #qr{
	position: absolute;
	z-index: 1;
	border: 5px solid #fff;
	height: 120px; width: 120px;
	top: 10px; right: 10px;

	color: #000; background-color: #fff;
}

.card-front #full-name{
	font-size: 16px;
	position: absolute;
	right: 150px;
	top: 10px;
	max-width: 180px;
	overflow: hidden;
	 font-family: arial;
}
.card-front #jobinfo{
	font-family: arial;
	font-size: 11px;
	position: absolute;
	right: 150px;
	top: 28px;
	text-align: right;
	line-height: 1.1;
	max-width: 180px;
	overflow: hidden;
}

.card-front .separator{
	width: 100%;
	border: 1px solid #000;
	position: absolute;
	top: 80px;
}

.card-front #org-info{
	position: absolute;
	top: 80px;
	margin: 5px 0 0 10px;
}

.card-front #org-info #web{
	font-family: arial;
	font-size: 12px;
}

.card-front #org-address{
	font-family: arial;
	font-size: 10px;
	position: absolute;
	top: 80px;
	right: 0;
	max-width: 180px;
	margin: 5px 10px 0 0;
	text-align: right;
	color: #ccc;
}

.card-back{
	background-color: #000;
}
.card-back #back-container{text-align: center;}
.card-back #logo img{height: 80px; margin-top: 30px;}
.card-back #web{margin-top: 10px; font-size: 15px;}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #aaa;
  padding-top: 10px;
}